

.contacts-space{
    background-color: rgb(255, 255, 255);
}
h1.heading_con{
    color: black;
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 2px;
}
.formContainer{
    margin-top: 1rem;
}
.row{
    display: flex;
}
.col-60{
    width: 60%;
}
.col-40{
    width: 40%;
    margin-top: 1.5rem;
   
}
.formContainer{
    width: 100%;   
}

.inputGroup{
    margin-left: 0px;
}
input,textarea{
    width: 100%;
    padding: .2rem;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    color: rgb(94, 92, 92);
    font-size: 20px;
    font-weight: 200;
    margin-left: 2rem;
    text-decoration: none;
    outline: none;
}
input:focus, textarea:focus{
    border: 2px solid rgb(18, 156, 60);

}
label{
    color: rgb(0, 0, 0);
    padding: .5rem;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 2rem;
    transition: 2s;
    cursor: pointer;
}

.button{
    width: 100%;
    margin: 10px;
    padding: .5rem;
    background-color: rgb(18, 156, 60);
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    margin-left: 2rem;
    cursor: pointer;
    transition: 1s;
    outline:auto;
    outline-color:rgb(196, 196, 196) ;
    text-decoration: none;
}
.button:hover{
    background-color: rgb(226, 219, 219);
    color: black;
    border: 2px solid rgb(18, 156, 60);
    outline: unset;
}


.contactMain{
    border-radius: 10px 10px 0 0;
    background: linear-gradient(60deg, #153c46 30%, #6dd5ed 35%);
    margin-left: 3rem;
    margin-right: 1rem;
    border: 2px solid rgb(196, 196, 196);
}
.detailsContainer{
    display: flex;
    margin-left: 1rem;
    height: 100%;
    padding: 1rem;
}
.locIcon{
    margin-right: 1rem;
    font-size: 25px;
    color: rgb(18, 156, 60);
    border-radius:50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.detailsTextHeader{
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}
.googleContainer{
    height:216px;
    margin-left: 3rem;
    margin-right: 1rem;
    border: 2px solid rgb(196, 196, 196);    bottom: auto;
}
.detailsText{
    font-size: 10px;
    font-weight: 400;
    font-family: sans-serif;
}