.hero_bg{
    background-image: url(../img/hero.jpg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
li.nav_items_home{
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 1000;
    transition: 1s;
}
li.nav_items_contact{
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 1000;
}
.contactback,.nav_items_home:hover{
    padding: 5px;
    background-color: rgb(18, 156, 60);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.logo{
    margin-top: 1.4rem;
    cursor: pointer;
}
.logoImage{
    width: 40px;
    height: 40px;
}
.navigationContainer{
    margin-top: 2rem;
}

.home_content{
    padding: 190px 0px;
}
h1.home_text{
    font-size : clamp(2rem, 10vw, 5rem);
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198,201,216,.75)!important;
}
h2.home_text{
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
}
h3.home_text{
    font-size: 42px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
    line-height: 40px;
}
h4.home_text{
    font-size: 42px;
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat,sans-serif;
    
}

@media(min-width:420px){
    .h1.home_text{
        margin-left: 5rem;   
        color: aqua;
        }
}