

.projectCardsContainer{
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    transition: 2s;
}
.imageContainer{
    width: 250px;
    height: 250px;
    transition: 2s;
    cursor: pointer;
    border-radius: 55px;
}
.projectCardsContainer:hover{
    filter:grayscale(100%)
}
.projectHeader{
    margin-top:15px;
}
.projectHeader h3{
    color: white;
    font-size: 25px;
    text-align: center;
}
.eWjCzc{
    color: greenyellow !important;
    background-color: antiquewhite !important;
    width: 40px  !important;
    height: 40px  !important;
    min-width: 40px  !important;
    line-height: 40px  !important;
}
.eAyARa{
    color: rgb(247, 72, 72) !important;
    background-color: antiquewhite !important;
    width: 40px  !important;
    height: 40px  !important;
    min-width: 40px  !important;
    line-height: 40px  !important;
}
.krmNah,.jhmYzC{
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.5) !important;
    height: 8px !important;
    width: 8px !important;
    box-shadow: 0 0 1px 3px rgb(18, 156, 60)!important;
}
.krmNah:hover, .krmNah:focus {
    cursor: pointer;
    box-shadow: 0 0 1px 3px yellow !important;
    width: 12px  !important;
    height: 12px  !important;
}